{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    {{ form(form) }}

    {% if not is_granted('APPLICANT_CV_EXISTS') %}
        <p>
            Before applying, <a href="{{ path('app_applicantcv_upload') }}">upload your CV</a>!
        </p>
    {% endif %}

    <ul>
        {% for offer in pagination %}
            <li>
                {{ offer.jobName }} - <a href="{{ path('app_joboffers_view', { 'offer': offer.id }) }}">details</a>
            </li>
        {% endfor %}
    </ul>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
