{% extends 'base.html.twig' %}

{% block title %}{{ offer.jobName }}{% endblock %}

{% block body %}
    <a href="{{ path('app_joboffers') }}">Go back</a>
    <h2>{{ offer.jobName }}</h2>
    <p>Created on: {{ offer.creationDate.format('Y/m/d') }}</p>
    <p>{{ offer.description }}</p>

    {% if is_granted('APPLICANT_CV_EXISTS') %}
        <a href="#">Apply</a>
    {% else %}
        <strong>Please upload a CV before applying.</strong>
    {% endif %}
{% endblock %}
